*{

}

html{
	background-color: black;
	font-family: 'Raleway', sans-serif;
	color: white;
}

body{

}

#container{
	width: 75%;
	margin: auto;
}

header{
	margin-top: 20px;
}

h1{
	font-weight: 300;
	letter-spacing: .55em;
	margin-bottom: 0px;
}

h2{
	font-weight: 300;
	font-size: 40pt;
	letter-spacing: .25em;
	margin-bottom: 5px;
	padding-left: 25px;
	border-bottom: solid 2px rgb(249, 185, 9);
}

h3{
	width: 40%;
	font-weight: 300;
	font-size: 35pt;
	letter-spacing: .05em;
	margin-bottom: 7px;
}

h4{
	font-weight: 400;
	letter-spacing: 1em;
	font-size: 12pt;
	margin-top: 0px;
}

ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	list-style: none;
}

li > a{
	text-decoration: none;
	color: rgb(249, 185, 9);
	font-size: 14pt;
	transition: color .5s;
	-webkit-transition: color .5s ;
}
li > a:hover{
	color: white;
}

#logoBlock{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.logoImg{
	width: 25%;
	font-size: 32pt;
}

.artistContent{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: flex-start;
}

.text{
	padding-left: 20px;
}

p{
	font-size: 20px;
	font-weight: 200;
	letter-spacing: .2em
}

b{
	font-size: 20pt;
	font-weight: 300;
}

.artistPic{
	width: 525px;
	border: solid 2px rgb(249, 185, 9);
}
/*---------------Footer---------------*/
.foot{
	background-color: rgb(249,185,9);
	color: black;
	margin-top: 50px;
	margin-bottom: 25px;
	padding: 10px 0 10px 0;
	width: 100%;
	bottom: 0px;
	height: 40px;
	left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.foot > p{
	font-size: 12pt;
	font-weight: 500;
}