*{

}

html{
	background-color: black;
	font-family: 'Raleway', sans-serif;
	color: white;
}

body{

}

#container{
	width: 75%;
	margin: auto;
}

h2{
	font-size: 40pt;
	font-weight: 700;
	color: rgb(249,185,9);
	text-align: center;
	transition: color .5s;
	padding-top: 25px;
	margin-bottom: 0;
}

h2:hover{
	color: black;
}
h3{
	margin: 0;
}
@media (max-width: 768px){
	*, html, body{
		overflow-x: hidden;
	}
	#container{
		width: 100%;
	}
}

/*------------header---------------*/

header{
	margin-top: 20px;
}
.dropTitle{
	display: none;
}
b{
	color: orange;
}

h1{
	font-weight: 300;
	letter-spacing: .55em;
	margin-bottom: 0px;
}


h4{
	font-weight: 400;
	letter-spacing: 1em;
	font-size: 12pt;
	margin-top: 0px;
}

ul{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
	list-style: none;
}

li > a{
	text-decoration: none;
	color: rgb(249, 185, 9);
	font-size: 14pt;
	transition: color .5s;
	-webkit-transition: color .5s ;
}
li > a:hover{
	color: white;
}

#logoBlock{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}

.logoImg{
	width: 25%;
}

@media (max-width: 768px){
	.logoLi{
		display: none;
	}
	.dropTitle{
		margin-left: 9px;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		align-items: center;
	}
	.logoImg{
		width: 75px;
	}
	h1{
		font-size: 20pt;
	}
	ul{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li{
		margin: 15px 0 15px 0;
	}
	li > a{
		text-decoration: none;
		color: rgb(249, 185, 9);
		font-size: 18pt;
		transition: color .5s;
		-webkit-transition: color .5s ;
	}
	li > a:hover{
		color: white;
	}
}
/*------------slider---------------*/

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 25px auto;
  border: solid 2px rgb(249, 185, 9);
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

#slider ul li {
  	position: relative;
	/*display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;*/
  	float: left;
	margin: 0;
	padding: 0;
	width: 970px;
	height: 445px;
	background: rgb(249, 185, 9);
	text-align: center;
}
.sliderPic{
	width: 970px;
}

button.control_prev, button.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: none;
  color: #fff;
  text-decoration: none;
  font-size: 40px;
  opacity: 0.5;
  cursor: pointer;
  outline: 0;
}

button.control_prev:hover, button.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease;
}

button.control_prev {
  border: none;
  text-shadow: 3px 6px black;
}

button.control_next {
  right: 0;
  border: none;
  text-shadow: 2px 4px black;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
/*---------------------------------------------------------*/
@media (max-width: 768px){
	#slider {
		display: none;
	}
	.altSlider{
		width: 100%;
	}
}
 /*---------------------Booking Block-------------------*/
v
#bookAd{
	width: 50%;
	height: 264px;
	background-color: grey;
	background-image: url(../img/crowd.jpg);
	background-size: cover;
	border: solid 2px rgb(249,185,9);
}

#bookAd > a{
	text-decoration: none;
}

#bookAd > p{
	text-align: center;
	color: rgb(249,185,9);
	font-weight: 500;
	font-size: 12pt;
}

#mailList{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-content: flex-start;
	align-items: center;
	width: 50%;
	height: 264px;
	background-color: black;
}

table{
	width: 75%;
	border: solid 3px rgb(175,175,175);
}

th{
	padding: 10px;
	background-color: rgba(249,185,9,.8);
	font-weight: 400;
	width: 100%;
}
td{
	padding: 10px 5px 10px 5px;
	text-align: right;
	color: rgb(249,185,9);
}
input{
	margin-right: 10px;
	width: 75%;
	background: none;
	border-style: solid;
	border-color: rgb(249,185,9);
	border-width: 0 0 1px 0;
	outline: none;
	color: white;
	text-align: right;
	font-family: inherit;
	font-size: 12pt;
}

.subButton{
	border: solid 1px orange;
	background-color: white;
	color: black;
	font-size: 16pt;
	height: 40px;
	font-weight: 500;
	width: 100%;
	text-align: center;
}

@media (max-width: 768px){
	#bookingBlock{
		width: 100%;
		margin: auto;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-content: center;
		align-items: center;
		border-top: dotted 2px rgb(249, 185, 9);
	}
	#bookAd{
		margin: 25px 0 25px 0;
		overflow: hidden;
		width: 100%;
		height: 164px;
		background-color: grey;
		background-image: url(../img/crowd.jpg);
		background-size: cover;
		border: solid 2px rgb(249,185,9);
	}	

	h2{
		font-size: 18pt;
	}

	#bookAd > a{
		text-decoration: none;
	}

	#bookAd > p{
		text-align: center;
		color: rgb(249,185,9);
		font-weight: 500;
		font-size: 10pt;
	}

	#mailList{
		/*display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-content: flex-start;
		align-items: center;
		*/
		display: none;
		width: 100%;
		height: 264px;
		background-color: black;
	}

	table{
		width: 100%;
		border: solid 3px rgb(175,175,175);
	}

	th{
		padding: 10px;
		background-color: rgba(249,185,9,.8);
		font-weight: 400;
		width: 100%;
	}
	td{
		padding: 10px 5px 10px 5px;
		text-align: right;
		color: rgb(249,185,9);
	}
	input{
		margin-right: 10px;
		width: 75%;
		background: none;
		border-style: solid;
		border-color: rgb(249,185,9);
		border-width: 0 0 1px 0;
		outline: none;
		color: white;
		text-align: right;
		font-family: inherit;
		font-size: 12pt;
	}

	.subButton{
		border: solid 1px orange;
		background-color: white;
		color: black;
		font-size: 16pt;
		height: 40px;
		font-weight: 500;
		width: 100%;
		text-align: center;
	}
}
/*------------------VidBlock------------*/
#vidBlock{
	display: block;
	margin: auto;
	width: 90%;
	margin-top: 25px;
	border-top: dotted 2px rgb(249, 185, 9);
}
#vid{
	margin-top: 25px;
	position: relative;
	height: 0;
	padding-bottom: 56.25%;
}
@media (max-width: 768px){
	#vidBlock{
		width: 100%;
	}
}
/*---------------Footer---------------*/
.foot{
	background-color: rgb(249,185,9);
	color: black;
	margin-top: 50px;
	margin-bottom: 25px;
	padding: 10px 0 10px 0;
	width: 100%;
	bottom: 0px;
	height: 40px;
	left: 0px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	align-items: center;
}
.foot > p{
	font-size: 12pt;
	font-weight: 500;
}
@media (max-width: 768px){
	.foot > p{
		font-size: 10pt;
	}
}